{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Craigs List</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<nav class="light blue">
    <div class="container nav-wrapper">
        <a href="{% url 'my_app:home_page' %}" class="brand-logo">Craigs List Clone</a>
        <ul id="nav-mobile" class="right">
            <li><a href="{% url 'my_app:home_page' %}"><strong>Home</strong></a></li>
        </ul>
    </div>
</nav>

<body>
    {% block body %}
    {% endblock body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

